* {
  scroll-behavior: smooth;
}

body {
  background-color:#8c6c66cb;
}

/* lines 10-65 are working on my nav bar */
nav {
  position:fixed;
  left: 0;
  top: 0;
  height: 75px;
  width: 100%;
  background-color:black;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);

  }
  
nav .topnav {
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 90%;
  margin: auto;
}

nav .topnav .name a {
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
}

nav .topnav .menu{
display: flex;
}
.topnav .menu li{
  list-style: none;
  margin: 0 15px;
}

.topnav .menu li a{
  color:floralwhite; 
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #195637;
  color: floralwhite;
}

.topnav a {
  
  color:floralwhite;
  display: flex;
  align-items: center;
  justify-content:space-between ;
  padding: 20px 24px;
  text-decoration:none;
  font-size: 25px;
}

section{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
  font-size: 12px;
}

/* 78-88 lines are sub section in my website and right now it's just changing the background color*/ 
#Portfolio {
  background-color: rgb(255, 255, 255);
}

#About {
  background-color: rgb(255, 255, 255);
}

#Contact {
  background-color: rgb(255, 255, 255);
}

/* 91-100 is the header I have following the nav bar */
  h1 {
    color:rgb(240, 233, 233); 
    font-size: 120px; 
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    text-align:center;
    margin-bottom: 0%;
    border-bottom:floralwhite;
    border-bottom-style: solid;
    padding: 0px;
  }  
  
  
p{
    color:dimgrey;
}